name: Lint

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container:
      image: alpine:3.22.2
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: apk add --no-cache bash make clang-extra-tools
      - name: Lint
        run: make lint
